body {
  margin-top: 100px;
  font: 14px Tahoma;
  color: grey; }

.accordion {
  width: 400px;
  list-style: none;
  border: 1px solid #00a5b2;
  border-top: 0;
  padding: 0;
  margin: auto; }

.accordion * {
  margin: 0; }

.accordion h4 {
  cursor: pointer;
  color: white;
  padding-left: 15px;
  background: #00C6D6;
  border-top: 1px solid #00a5b2;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  font-weight: normal;
  transition: background .75s ease; }

.accordion h4:hover {
  background: #00def0; }

.accordion p {
  overflow: auto;
  height: 0;
  transition: all 1.5s ease-out; }

.accordion .active p {
  padding: 20px;
  height: 150px; }
